<div class="header">
	<div class="container">
		<div class="row">

			<div class="float-left">
				<img src="picpool/cloud1.jpg" />

				<div class="navbutton">
					<input type="radio" id="home" name="cssnav" checked>
					<label for="home">Home</label>
					<div class="navcontent">
						<!-- injectf:partials/content/home.html -->
					</div>
				</div>

				<div class="navbutton">
					<input type="radio" id="webdesign" name="cssnav">
					<label for="webdesign">Webdesign</label>
					<div class="navcontent">
						<!-- injectf:partials/content/webdesign.html -->
					</div>
				</div>

				<div class="navbutton">
					<input type="radio" id="projects" name="cssnav">
					<label for="projects">Coding Projects</label>
					<div class="navcontent">
						<!-- injectf:partials/content/coding.html -->
					</div>
				</div>

				<div class="navbutton">
					<input type="radio" id="imageprocessing" name="cssnav">
					<label for="imageprocessing">Image Processing</label>
					<div class="navcontent">
						<!-- injectf:partials/content/image.html -->
					</div>
				</div>

				<div class="navbutton">
					<input type="radio" id="about" name="cssnav">
					<label for="about">About</label>
					<div class="navcontent">
						<!-- injectf:partials/content/about.html -->
					</div>
				</div>
			</div>

			<div class="float-right">
				<div class="navbutton">
					<input type="radio" id="contact" name="cssnav">
					<label for="contact">Contact</label>
					<div class="navcontent">
						<!-- injectf:partials/content/contact.html -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
