<div class="container">
	<div class="col-md-4">
		<h4>Webdesign</h4>
		<img src="picpool/hellskitchenpreview.jpg" />
		<p>Paragraph</p>
		<label class="see-more" for="webdesign">view more</label>
	</div>
	<div class="col-md-4">
		<h4>Coding Projects</h4>
		<img src="picpool/image.jpg" />
		<p>Paragraph</p>
		<label class="see-more" for="projects">view more</label>
	</div>
	<div class="col-md-4">
		<h4>Image Processing</h4>
		<img src="picpool/image.jpg" />
		<p>Paragraph</p>
		<label class="see-more" for="imageprocessing">view more</label>
	</div>
</div>
