<div class="container webdesign">
	<!--WEBDESIGN PROJECT 1: HELL'S KITCHEN Z&uuml;RICH-->
	<div class="rowwebdesign">
		<div class="col-md-4">
			<a href="http://hellskitchen-zuerich.ch" target="_blank">
				<img src="picpool/hellskitchenpreview.jpg">
			</a>
		</div>
		<div class="col-md-8">
			<div class="textpart">
				<h4>Hell's Kitchen - Zürich</h4>
				<p>My first real website project. There's also a version with fixed navigation bar and fixed footer which looked really nice but did take up a lot of space.</p>
				<p>Since I did not know how to create content tabs with pure CSS at this point, the navigation problem is poorly solved by creating different pages for each navigation item and linking them accordingly.</p>
			</div>
		</div>
	</div>
	<!--WEBDESIGN PROJECT 2: UNKNOWN-->
	<div class="rowwebdesign">
		<div class="col-md-4">
			<a href="#" target="_blank">
				<img src="picpool/image.jpg">
			</a>
		</div>
		<div class="col-md-8">
			<div class="textpart">
				<h4>Next Project</h4>
				<p>Coming soon</p>
			</div>
		</div>
	</div>
	<!--WEBDESIGN PROJECT 3-->

</div>
